/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow-x: hidden;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//CUSTOM STYLES

$main-color: #3366ff;
$main-font: 'Open Sans';
$base-margin: 1.5em;
$desktop-width:1000px;
$tablet-width: 600px;

body {
	background: black;
}

//place holder
%active{
	background: green;
	color: red;
}

@mixin primary-links{
	color:blue;
	text-decoration:underline;
}

@mixin tablet{
	@media(min-width: $tablet-width){
		@content; // <--this line is required
	}
}

@mixin desktop{
	@media(min-width: $desktop-width){
		@content; // <--this line is required
	}
}


body{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	min-height:100vh;
}

.article-grid{
	display:grid;
	grid-template-columns:1fr;
	@include tablet{
		grid-template-columns: repeat(3,1fr);
	}
	@include desktop{
		grid-template-columns: repeat(4,1fr);
	}
	grid-template-rows: 1fr repeat(auto-fit,minmax(0,100vw)) 0.3fr;
	column-gap: 0px; 
	row-gap: 0px;
	overflow-y:hidden;
}


.nav-area{
	display:flex;
	flex-direction: column;
	flex-wrap:nowrap;
	align-items: center;
	justify-content:center;
	height:50vh;
	margin-top:15vh;
	
	img{
		display:flex;
		object-fit:cover;
		width:60%;
		height:auto;


	}

	span{
		display:flex;
		margin-bottom:5%;
		opacity:1;

	}

	select{
		display:flex;
		max-width:33%;
	}
	
	
}

a{
	display:flex;
	flex-direction:column;
	height:100vw;
	width:100%;
	justify-content: center;
	object-fit:cover;
}

figure{
	position:relative;	
		height:100%;
		width:100%;
		overflow-y:hidden; //important shit!!!!

	img{
		height:100%;
		width: 100%;
		object-fit: cover;
	}

	p{
		position:absolute;
		bottom:0;
		color: white;
		background-color:rgba(0,0,0,0.5);
		max-height:35%;
		line-height:1em;
		overflow-y:hidden;
	}
}

span{
	color:white;
}

footer{
	display:flex;
	flex-direction: column;
	color:white;
	margin-bottom:15vh;
	text-align:center;
	// grid-row: -1/-2;
}

// main{
// 	display:flex;
// 	justify-content:center;
// }






// .main2{
// 	@include primary-links;
// 	width:200px;
// 	height:200px;
// }
