
.nav-area{
    .dropdown{
        p{
            font-size:1.5rem;
            line-height: 2rem;
            margin-bottom:1.5rem;

        }
        select{
            font-size:1.5rem;
        }
    }
}


footer{
    line-height: 1.5rem;
    color:$text-color-secondary;
}